:root {
    /* Set sans-serif & mono fonts */
    --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --primary: #fff;
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --accent-bg: #f8f9f7;
    --text: #080807;
    --text-light: #656255;
    --keyword: #064C0D;
    --border: #898EA4;
    --accent: #0d47a1;
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
    --bidra-sektion: var(--accent-bg);
}

/**
*, *::before, *::after {
    box-sizing: border-box;
}
**/

/* Reset default appearance */
textarea,
select,
input,
progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

html {
    font-family: var(--sans-font);
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background-color: var(--bg);
    font-size: 1.05rem;
    line-height: 1.2;
    display: grid;
    grid-template-columns: 1fr min(45rem, 100%) 1fr;
    margin: 0;
    overflow-x: hidden;
}
body>* {
    grid-column: 2;
}

body>header {
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
    padding: 0 0.5rem 0.5rem 0.5rem;
    grid-column: 1 / -1;
}

main {
    padding-top: 0rem;
}

body>footer {
    margin-top: 4rem;
    padding: 2rem 1rem 1.5rem 1rem;
    color: var(--text-light);
    font-size: 0.9rem;
    text-align: center;
    width: fit-content;
    margin: auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h4 {
    font-size: 1.44rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 0.96rem;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: var(--text);
}

h1,
h2,
h3 {
    line-height: 1.1;
}

@media only screen and (max-width: 720px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.25rem;
    }
}

a,
a:visited {
    color: var(--text);
    text-underline-offset: 5px;
}

a:hover {
    text-decoration-color: #b50010 !important;
}

a:link {
    color: #3344dd !important;
}

a:visited {
    color: #551A8B !important;
}

a:hover {
    color: #b50010 !important;
}

button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
label[type="button"] {
    border: none;
    border-radius: 5px;
    background-color: var(--accent);
    font-size: 1rem;
    color: var(--bg);
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
}

button[disabled],
[role="button"][aria-disabled="true"],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled],
select[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

input:disabled,
textarea:disabled,
select:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
}

input[type="range"] {
    padding: 0;
}

abbr[title] {
    cursor: help;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

button:focus,
button:enabled:hover,
[role="button"]:focus,
[role="button"]:not([aria-disabled="true"]):hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover,
label[type="button"]:focus,
label[type="button"]:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

header>nav {
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0 0 0;
}

header>nav ul,
header>nav ol {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header>nav ul li,
header>nav ol li {
    display: inline-block;
}

article, fieldset {
    padding-top: 0rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 0rem;
}

article h2:first-child,
section h2:first-child {
    margin-top: 1rem;
}

section {
    padding: 0rem 1rem;
}

section section {
    padding: 0rem 0rem;
}

main>header {
    padding: 0rem 1rem;
}

main>nav {
    padding: 0rem 1rem;
}

section+section,
section:first-child {
    border-top: 0;
    padding-top: 0;
}

section:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

textarea,
select,
input {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text);
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: none;
    max-width: 100%;
    display: inline-block;
}
label {
    display: block;
}

hr {
    border: none;
    height: 1px;
    background: var(--border);
    margin: 1rem auto;
}

mark {
    padding: 2px 5px;
    border-radius: 4px;
    background-color: var(--marked);
}

dt {
    color: var(--text-light);
}

code,
pre,
pre span,
kbd,
samp {
    font-family: var(--mono-font);
    color: var(--code);
}

kbd {
    color: var(--preformatted);
    border: 1px solid var(--preformatted);
    border-bottom: 3px solid var(--preformatted);
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
}

ol {
    padding-left: 0;
    list-style: inside decimal;
}

hr {
    border: 0;
    height: 1px;

    background: radial-gradient(circle, rgba(245, 247, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: var(--accent-bg);
}

details {
    border-top: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
}

summary {
    position: relative;
    font-weight: bold;
    padding: 1.25em 2em 1.25em 0em;
    cursor: pointer;
    list-style-type: none;
}
summary::-webkit-details-marker {
 display: none;
}
summary:focus {
    outline: none;
}
details[open] summary:after {
    transform: rotate(180deg);
}

summary:after {
    width: 20px;
    right: 35px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 11.3907C9.66887 11.3907 9.33775 11.2583 9.07285 10.9934L0.397351 2.31788C-0.13245 1.78808 -0.13245 0.993379 0.397351 0.463578C0.927152 -0.0662236 1.72185 -0.0662236 2.25165 0.463578L10 8.1457L17.7484 0.397351C18.2782 -0.13245 19.0728 -0.13245 19.6026 0.397351C20.1325 0.927152 20.1325 1.72185 19.6026 2.25166L10.9271 10.9272C10.6622 11.2583 10.3311 11.3907 10 11.3907Z' fill='%23737373'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 10px;
    width: 18px;
    content: " ";
    height: 100%;
    float: none;
    display: block;
    transition: 0.2s;
}

/**
.search-result>li:nth-child(odd) {
    background: #fff;
    color: var(--text);
}
.search-result>li:nth-child(even) {
    background: #fff;
    color: var(--text);
}
**/

.search-result {
    padding: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #000;

}

.search__input::placeholder {
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search-bg {
    background-color: var(--accent-bg);
    background: radial-gradient(circle, rgba(248, 249, 247, 1) 0%, rgba(255, 255, 255, 1) 80%);
}

.search-bg nav ul {
    padding: 0px;
    line-height: 32px;
}

.search-bg nav ul li {
    display: inline-block;
    width: auto;
    list-style: outside none none;
}

.keyword {
    margin-top: 4px;
    margin-bottom: 0px;
    font-weight: 700;
    /** color: var(--keyword); **/
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-line {
    margin-top: 7px;
    margin-bottom: 7px;
}

.user {
    color: var(--text-light);
    font-size: smaller;
}

.logo {
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-family: var(--mono-font);
}

.item {
    padding: 0.75rem;
    padding: 0px;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.bidra-style {
    background: var(--bidra-sektion);
    padding-top: 20px;
    padding-bottom: 20px !important;
    margin-top: 20px;
}

.jumbotron {
    padding-top: 1rem;
}

.toc {
    padding: 0px;
    line-height: 32px;
    list-style: none;
}

.intro-summary-search {
    padding: 0px;
    margin: 0px;
}

.off-screen {
    content-visibility: auto;
    contain-intrinsic-size: 1px 133755px;
}

[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[data-pagination] {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  margin: 4em auto;
  text-align: center;
}
[data-pagination] ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: .5em;
}
[data-pagination] ul li {
  display: inline-block;
  width: auto;
  border-radius: 3px;
}
[data-pagination] > a {
text-decoration: none;
}
[data-pagination] a {
  padding: .5em;
  text-decoration: none;
}

/**
.paging:not(:target):not(#page-0),
.paging:target ~ #page-0 {
    display: none
}
**/

.active{
  display: block;
}

.disabled{
  display: none;
}

.paging-active{
text-decoration: underline !important;
}
